<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssm.java.bean.Student">
	<select id="getStudentAll" resultType="Stu">
	<![CDATA[
	select * from Student
	]]>
	</select>
	<select id="getStudentOne" parameterType="int" resultType="Stu">
	<![CDATA[
	select * from Student where stu_id=#{stu_id}
	]]>
	</select>
	<select id="addStudent" parameterType="Stu">
		<![CDATA[
		insert into Student values(stu_id=#{stu_id},stu_name=#{stu_name},stu_sex=#{stu_sex},stu_age=#{stu_age},stu_birthday=#{stu_birthday})
		]]>
	</select>
	<select id="delStudent" parameterType="int">
		select * from Student
	</select>
	<select id="updStudent" parameterType="String">
		select * from Student
	</select>
</mapper>